@media (prefers-color-scheme: dark) {
  body {
    background-color: #171717;

    color: #e3e3e3;
    margin: 0;
  }

  div {
    border-color: #353535;
  }

  header {
    background-color: #1f1f1f;


  }
  footer {
    background-color: #1f1f1f;

  }





}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;

    color: #333333;
    margin: 0;
  }

  div {
    border-color: #a1a1a1;
  }

  header {
    background-color: #f1f1f1;


  }
  footer {
    background-color: #f1f1f1;



  }

    


  
}

header{
  text-align: center;
  padding: 40px;
}
footer {
  text-align: center;
  padding: 40px;
  font-size: 12px;
  color: #666;
}
footer a{
  color: #666;
  border-bottom: 1px dashed;
}
a{
  color: #006699;
  text-decoration: none;
}
.huizi {
  color: #666;
}

.jzdq {
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 10px;
}

#code-box {
  background-color: #1E1E1E;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  margin: unset;
}

#code {
  max-width: 700px;
  margin: 0px auto;
  padding: 0px 10px;
}
* {
  font-family: "Helvetica Neue", "PingFang SC", "Source Han Sans",
    "Microsoft YaHei UI", "Microsoft YaHei", "Roboto Mono", monospace, Arial,
    sans-serif;
}

code {
  font-size: 12px;
  
}