@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(
      45deg,
      #feac5e 0,
      #feac5e 16.66%,
      #1cbbb4 16.66%,
      #1cbbb4 33.33%,
      #39b54a 33.33%,
      #39b54a 50%,
      #feac5e 50%,
      #feac5e 66.66%,
      #1cbbb4 66.66%,
      #1cbbb4 83.33%,
      #39b54a 83.33%,
      #39b54a 50%
    );
  }
  .baise {
    background-color: #f3feff;
  }
  .touming {
    background-color: #ffffffa6;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
      45deg,
      #cd8c50 0,
      #cd8c50 16.66%,
      #0e5c58 16.66%,
      #0e5c58 33.33%,
      #267731 33.33%,
      #267731 50%,
      #cd8c50 50%,
      #cd8c50 66.66%,
      #0e5c58 66.66%,
      #0e5c58 83.33%,
      #267731 83.33%,
      #267731 50%
    );
  }
  .baise {
    background-color: #202b20;
  }
  .touming {
    background-color: #000000a6;
  }
}
body {
  margin: 0px;
  background-size: 800px 800px;
}

header {
  height: 60px;
  position: fixed;
  top: 4px;
  right: 0px;
  left: 0px;
  z-index: 2;
  margin-right: 8px;
  margin-left: 8px;
  backdrop-filter: blur(15px);
}

footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.banquan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #666;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 15px 5px 10px 5px;
  border-radius: 15px;
}

footer a {
  color: #666;
  border-bottom: 1px dashed;
}

a {
  color: #006699;
  text-decoration: none;
}

.flex {
  display: flex;
}

.yinying {
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}

.flex1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.daohang {
  padding: 10px 20px;
  border-bottom: 1px solid #999;
  font-size: 15px;
  color: #666;
}

.qgdt::-webkit-scrollbar {
  display: none;
}

.bj8 {
  margin: 8px;
}

.zbj8 {
  margin-left: 8px;
}

.ybj8 {
  margin-right: 8px;
}

.sbj8 {
  margin-top: 8px;
}

.yuanjiao {
  border-radius: 15px;
}
/*当屏幕小于600px是生效*/
@media (max-width: 600px) {
  .cebian {
    display: none;
  }

  .mzbj8 {
    margin-left: 8px;
  }

  .shuxiang {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .cebian {
    width: 200px;
    backdrop-filter: blur(15px);
    z-index: 1;
    position: fixed;
    top: 72px;
    left: 8px;
    bottom: 8px;
  }

  .zbj64 {
    margin-left: 208px;
  }
}
